.swatchOuter {
  width: 100%;
  height: 70%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 25px;
  background-color: white;
  padding: 3px;
  box-sizing: border-box;
}

.swatchInner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatchColor {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
